.catalog{
	display: grid;
	background-color: white;
	grid-template-columns: 2fr 2fr 2fr 2fr ;
	grid-template-rows: auto;
	grid-auto-rows: 40px;
	grid-template-areas:
			"  . hd1 hd2 hd3 " 
			" item1 item2 item3 item4 "
			" item5 item6 item7 item8 "
			" item9 item10 item11 item12 "
			" item13 item14 item15 item16 "
			" item17 item18 item19 item20 "
			" item21 item22 item23 item24 "
			" item25 item26 item27 item28 ";

	width: 60%;
	padding: 5%;
	margin: 10% auto;
	background-color: rgb(230 230 230););
	
}

.left-panel, .right-panel, .head{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.right-panel, .head{
	align-items: center;
}

.head1{
	grid-area: hd1;
	font-weight: bold;
}

.head2{
	grid-area: hd2;
	font-weight: bold;
	text-align: center;
	margin-top: -10px;
}

.head3{
	grid-area: hd3;
	font-weight: bold;
}

.item1{
	grid-area: item1;
}

.item2{
	grid-area: item2;
}

.item3{
	grid-area: item3;
}

.item4{
	grid-area: item4;
}

.item5{
	grid-area: item5;
}

.item6{
	grid-area: item6;
}

.item7{
	grid-area: item7;
}

.item8{
	grid-area: item8;
}

.item9{
	grid-area: item9;
}

.item10{
	grid-area: item10;
}

.item11{
	grid-area: item11;
}

.item12{
	grid-area: item12;
}

.item13{
	grid-area: item13;
}

.item14{
	grid-area: item14;
}

.item15{
	grid-area: item15;
}

.item16{
	grid-area: item16;
}

.item17{
	grid-area: item17;
}

.item18{
	grid-area: item18;
}

.item19{
	grid-area: item19;
}

.item20{
	grid-area: item20;
}

.item21{
	grid-area: item21;
}

.item22{
	grid-area: item22;
}

.item23{
	grid-area: item23;
}

.item24{
	grid-area: item24;
}

.item25{
	grid-area: item25;
}

.item26{
	grid-area: item26;
}

.item27{
	grid-area: item27;
	margin-bottom: -30px;
}

.item28{
	grid-area: item28;
}

.img{
	max-height: 100px;
	max-width: 100px;
}

body {
	background-color: rgb(230 230 230);;
}

.left-panel{
	border-top: grey 1px solid;
	font-weight: bold;
}

.right-panel{
	border-top: grey 1px solid;
	color: grey;
}

.head1, .head3, .right-panel{
	background-color: white;
} 

.head2, .item3, .item7, .item11,  .item15,  .item19,  .item23, .item27{
	background-color: #6165ff;
	color: white;
}

.item26, .item27, .item28{
	font-size: 1.5em;
	padding-top: 30px;
	padding-bottom: 30px;
}


@media (max-width: 988px){

	.catalog{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-auto-rows: 10%;
		grid-template-areas:
				" hd1 hd2 hd3 " 
				" item1 item1 item1"
				" item2 item3 item4 "
				" item5 item5 item5"
				" item6 item7 item8 "
				" item9 item9 item9 "
				" item10 item11 item12 "
				" item13 item13 item13 "
				" item14 item15 item16 "
				" item17 item17 item17 "
				" item18 item19 item20 "
				" item21 item21 item21 "
				" item22 item23 item24 "
				" item25 item25 item25 "
				" item26 item27 item28 ";

		width: 90%;
		background-color: rgb(230 230 230);;
		margin: 0px;
	}

	.left-panel, .right-panel, .head{
		display: flex;
		justify-content: space-between;
	}

	.white-background{
		grid-column: 2/3;
		grid-row: 1/16;
		background-color: #fff;
	}

	.left-panel{
		border: none;
		font-weight: bold;
		margin-top: 5%;
	}

	.right-panel{
		border-top: grey 1px solid;
		color: grey;
		padding-top: 20px;
	}

	.head1, .head3, .right-panel{
		background-color:transparent;
	} 

	.item26, .item27, .item28{
		font-size: 1.5em;
	}

	.head2{
		background-color: transparent;
		color: black;
		align-items: flex-start;
	}

	.img{
		max-width: 100px;
	}

	.right-panel, .head{
		align-items: flex-start;
	}

	.head2, .item3, .item7, .item11,  .item15,  .item19,  .item23, .item27, .head3, .item4, .item8, .item12,  .item16,  .item20,  .item24, .item28{
		padding-left: 10px;

	}
	
	.item26, .item27, .item28{
		color: #000;
		padding-bottom: 0px;
		margin: 0px;
	}
}

@media (max-width: 468px){
	.catalog{
		display: grid;
		grid-template-columns:  1fr 1fr 1fr;
		grid-template-rows: auto;
		grid-auto-rows: 40px;
		grid-template-areas:
				" hd1 hd2 hd3 " 
				" item1 item1 item1"
				" item2 item3 item4 "
				" item5 item5 item5"
				" item6 item7 item8 "
				" item9 item9 item9 "
				" item10 item11 item12 "
				" item13 item13 item13 "
				" item14 item15 item16 "
				" item17 item17 item17 "
				" item18 item19 item20 "
				" item21 item21 item21 "
				" item22 item23 item24 "
				" item25 item25 item25 "
				" item26 item27 item28 ";

		width: 100%;
		background-color: rgb(230 230 230);
		padding: 0px;
		margin: 0px;
		text-align: center;
	}

	.white-background{
		background-color: rgb(230 230 230);
	}

	.left-panel, .right-panel, .head{
		align-items: center;
		margin: 0px;
		padding: 0px;

	}

	.left-panel{
		margin-top: 20px;
	}

	.item26, .item27, .item28{
		color: #000;
		padding-bottom: 0px;
		margin: 0px;
		justify-content: center;
	}

	.head{
		justify-content: center;
	}

	.img{
		max-width: 100%;
	}
}